.sidebar {
    background-color: #18181b;
    color: #FFF;
    width: 25rem;
    height: 92vh;
    padding: 0;
    position: fixed;
    transition: transform 300ms ease-in;
    right: 0rem;
    top: 8vh;
    z-index: 10;
}
.sidebar--isHidden {
    transform: translateX(25rem);
    transition: transform 300ms ease-out;
}

.header{
    padding: 1.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #18181b;
    width: 100%;

    border-bottom: .5px #a1a1aa solid;
    position: top;
    z-index: 10;
}

.sidebar--header-icon{
    display: flex;
    align-items: center;
    gap: .52rem;
}

.sidebar-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.main {
    padding: 0 .75rem;
    margin-bottom: 10rem ;

    height: calc(100% - 220px);
    overflow: auto;
}

.footer{
    width: 100%;
    padding: 1.5rem;
    border-top: .5px #a1a1aa solid;
    position: absolute;
    bottom: 0;

    text-transform: uppercase;
    background-color: #18181b;

}

.footer .subtotal{
    display: flex;
    justify-content: space-between;

    font-size: 1.2rem;
}

.footer .btn-buy {
    width: 100%;
    margin-top:.9rem;
    padding: 1.5rem;


    border: none;
    border-radius: .8rem;

    background-color: green;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #FFF;

}