.cartContainer {
    width: 410px;
    height: 100vh;

    position: absolute;
    right: 0;
    background-color: #27272a;
}

.cartTitle {
    width: 100%;
    height: 80px;
    padding: 10px;

    color: #FFF;
    background-color: #27272a;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16.5pt;

    border-bottom: 1px solid #595a5c;
}

.cartClosed {
    display: flex;
    gap: 10px;

    cursor: pointer;
}

.cartList {
    height: calc(100vh - 80px - 140px);
}

.cartItem{
    width: 100%;
    height: 203px;
    padding: 10px;
    
    color: #FFF;
    border-bottom: 1px solid #595a5c;

}
.cartItemDescription{
    display: flex;
    gap: 10px;
}

.cartImageItem {
    width: 120px;
    height: 120px;
    
    background-color: #FFF;

    overflow: hidden;
    object-fit: cover;
}

.cartItemCounter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartItemValue{
    margin: 12px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.cartItemQuantity{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 138px;
    height: 48px;
    color: #000;
    background: #FFF;

    border-radius: 8px;
}

.cartItemQuantity > button {
    width: 38px;
    height: 100%;

    border: none;
    font-size: 1.2rem;

    cursor: pointer;
}


.cartFooter {
    width: 100%;
    height: 140px;
    padding: 10px;
    
    background: #18181b;
    
}

.cartSubtotal {
    color: #FFF;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartButton{
    width: 100%;
    height: 60px;
    margin: 15px 0;
}
.cartBuyButton {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 8px;
    background-color: #15803d;
    color: #FFF;

    cursor: pointer;
}