.sidebar {
    background-color: #27272a;
    width: 25rem;
    height: 92vh;
    padding: 0;
    position: fixed;
    transition: transform 300ms ease-in;
    right: 0rem;
    top: 8vh;
    /* bottom: 0; */
    z-index: 10;
}
.sidebar--isHidden {
    transform: translateX(25rem);
    transition: transform 300ms ease-out;
}

.btn-teste {
    background-color: aliceblue;
    width: 70px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
