.Branco {
    background-color: rgb(255, 255, 255);
}

.uniq {
    background-color: aliceblue;
}

.Verde {
    background-color: rgb(0, 102, 0);
}

.Vermelho {
    background-color: rgb(185, 0, 0);
}

.Rosa {
    background-color: rgb(209, 48, 158);
}

.Cinza {
    background-color: rgb(83, 83, 83);
}

.Azul {
    background-color: rgb(0, 0, 171);
}

.Multicolres {
    background-color: rgb(255, 130, 130);
}

.Preto {
    background-color: rgb(0, 0, 0);
}

.Bege {
    background-color: beige;
}