.shop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.product {
    margin: 15px;
    display: block;
}

.product img {
    width: 350px;
    margin-bottom: 5px;
}


.product a {
    display: block;
    color: rgb(119, 119, 119);
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.product p {
    font-size: 1.2rem;
    text-align: center;
}

.preco {
    font-weight: bold;
    font-size: 1.3rem;
}

.svg {
    position: absolute;
    margin: 20px;
}