a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: blueviolet;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.026);
}

.img_nav {
    height: 25px;
    width: 25px;
}

.nav_list {
    list-style: none;
    display: flex;
}

.nav_list2 {
    font-size: 1.2rem;
    list-style: none;
    display: flex;
}

.nav_list li {
    letter-spacing: 1px;
    margin-left: 30px;
}

.nav_list2 li {
    margin-left: 20px;
}

.li2 {
    margin-left: 25px;
}

.mobile_menu {
    cursor: pointer;
    display: none;
}

.mobile_menu div {
    width: 30px;
    height: 4px;
    background: black;
    margin: 5px;
    margin-left: 0;
    transition: 0.3s;
}

@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }

    .nav_list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 70vw;
        height: 92vh;
        background: rgb(43, 38, 60);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    .active {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 70vw;
        height: 92vh;
        background: rgb(43, 38, 60);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(0);
    }

    .active {
        list-style: none;
        display: flex;
    }

    .nav_list2 a {
        color: black;
    }

    .nav_list2 a:hover {
        color: rgb(95, 82, 142);
    }

    a {
        color: white;
    }

    a:hover {
        color: white
    }

    .logo {
        color: black;
    }

    .nav_list li {
        margin-left: 0;
        opacity: 1;
    }

    .mobile_menu {
        font-size: 1.4rem;
        display: flex;

    }
}