.item-content {
    display: flex;
    gap: .5rem;

    padding: 1.8rem 0;
    border-bottom: .5px #a1a1aa solid;
}


.card-product-image img {
    overflow: hidden;
    object-fit: cover;
    width: 120px;
    height: 130px;
}

.card-product-image{
    width: 120px;
    height: 120px;

    background-color: aliceblue;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.trash {
    position: absolute;
    right: 0;
}

.item-description .product-title {
    text-transform: uppercase;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 50px;
}

.item-description .item-quantity {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-description .item-quantity .box-quantity {
    color: #000;
    background: #FFF;
    height: 2rem;

    width: 60%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-description .item-quantity .box-quantity .btn-icon{
    height: 100%;
    width: 2rem;
    text-align: center;
    background: #CCC;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}